table {
    width: 100%;
    text-align: left;
}
table,
th,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    height: 2.15em;
}
th,
td {
    padding: .5em;
    min-width: 3.5em;
}
thead {
    background: #7A7A7A;
    color: #000000;
}
tbody tr:nth-child(odd) {
    background: #EDEBEB;
}
tbody tr:nth-child(even) {
    background: #FFFFFF;
}
button {
    float:right;
    width: 100px;
    padding: .5%;
    text-align: center;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
header{
    background-color: rgb(63, 62, 62);
}
th{
    background-color: gray;
    border-color: #000000;
}

 inputs{
    width: fit-content;
 }

 #total {
    color: black;
 }